@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  overflow-x: hidden;
}

.ReactModal__Content {
  width: 40%;
  height: 400px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .ReactModal__Content {
    width: auto;
    height: auto;
  }
}

/*  */
.overlaySidebar {
  @apply fixed w-full h-full bg-[#7d7d7d80];
  transition: all ease-in-out 1s;
}
.asd {
  right: -70%;
  transition: all ease-in-out 1s;
}
.visiblenav {
  right: 5%;
}
